---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navigation/Navbar.astro';
import Hero from '../components/hero/Hero.astro';
import Services from '../components/services/Services.astro';
import Contact from '../components/contact/Contact.astro';
import '../styles/animations.css';
---

<Layout>
	<main class="min-h-screen bg-black relative z-10">
		<div class="container mx-auto px-4 md:px-8 min-h-screen grid grid-cols-1 md:grid-cols-[120px_1fr] gap-4 md:gap-16 max-w-7xl">
			<Navbar />
			<div class="col-span-1 md:col-start-2 flex flex-col gap-8">
				<Hero />
				<Services />
				<Contact />
			</div>
		</div>
	</main>
</Layout>

<script>
	import { initSmoothScroll } from '../scripts/smoothScroll';
	initSmoothScroll();
</script>

